{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Создать воспоминание</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=05d82726-f913-4790-9e87-5a9e4206e48f&lang=ru_RU"
            type="text/javascript"></script>
</head>
<body>
<div class="memory-container">
    <h1 class="memory-title">Создать воспоминание</h1>
    <form class="memory-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="hidden" id="id_latitude" name="latitude">
        <input type="hidden" id="id_longitude" name="longitude">
        <div id="map" class="memory-map"></div>
        <button id="save-button" class="memory-form-button" type="submit">Сохранить</button>
    </form>

    {% if error_message %}
        <p class="memory-error-message">{{ error_message }}</p>
    {% endif %}
</div>
<script>
    document.querySelector('.memory-form').addEventListener('submit', function () {

        document.getElementById('save-button').disabled = true;
    });
</script>
<script src="{% static 'js/form.js' %}"></script>
</body>
</html>
